{
  "presets": ["@babel/react", ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "debug": true,
      "useBuiltIns": false,
    }
  ]],
  "plugins": [
    "syntax-async-functions",
    "transform-async-to-generator",
    "transform-regenerator",
    "@babel/transform-runtime",
    "dynamic-import-node"
  ]
}
