/* HEADER */
/* HEADER */
/* HEADER */
.header.fixed {
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    top: -100px;
    display: none;
    transition: 0.5s cubic-bezier(0.39, 0.58, 0.5, 1);
}

.header.fixed .container {
    padding: 15px 50px;
    box-sizing: border-box;
}

.header.fixed .heading {
    color: #000;
    border-color: #000;
}

.header.fixed p {
    color: #000;
}

.header.fixed .bar {
    background-color: #000;
}

.header.fixed.showed {
    top: 0;
    display: flex;
    transition: 0.5s cubic-bezier(0.39, 0.58, 0.5, 1);
}
